<template name="appBody">
    {{> navbar }}
    <div class="container content-container">
        <div id="fb-root"></div>
        <div class="row">
<!--            <div class="col-lg-4 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12 primary-content">-->
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 primary-content">
                {{> yield}}
            </div>
<!--            <div class="col-lg-2 visible-lg visible-xl side-content">-->
            <div class="col-lg-4 visible-lg visible-xl side-content">
                {{> yield "sidebar"}}
            </div>
        </div>
    </div> <!-- End main container -->
    
    {{#if isAdmin}}
        {{> adminFooter}}
    {{/if}}
    
</template>