<template name="navbar">
    <nav class="navbar upper-nav" role="navigation">
        <div class="container-fluid">
            <div class="row header-row">
                <a href="{{pathFor route='home'}}">
                    <div class="col-md-12 col-sm-12 col-xs-12 header-text">
<!--                        <h1>Untucked Style</h1>-->
                        <img src="/img/serif_logo.png" alt="Untucked Style" class="img-responsive" />
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <nav class="navbar shadow-2 locked-lower-nav" role="navigation">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="text-center list-inline untucked-header-list">
                    <li><div class="ink-container"><a href="{{pathFor route='styleList'}}" class="ink-teal-gray">Style</a></div></li>
                    <li><div class="ink-container"><a href="{{pathFor route='ambitionList'}}" class="ink-teal-gray">Ambition</a></div></li>
                    <li><div class="ink-container"><a href="{{pathFor route='drinksList'}}" class="ink-teal-gray">Drinks</a></div></li>
                    <li><div class="ink-container"><a href="{{pathFor route='lifeList'}}" class="ink-teal-gray">Life</a></div></li>
                    <li><div class="ink-container"><a href="{{pathFor route='shop'}}" class="ink-teal-gray product-link">Shop</a></div></li>
                </ul>
            </div>
        </div>
    </nav>
</template>