<template name="navbar">
    <nav class="navbar shadow-2" role="navigation">
        <div class="container-fluid">
            <div class="navbar-greeting">
                <div class="row header-row">
                    <div class="col-md-offset-3 col-md-2 col-xs-4 logo-container">
                        <img src="/img/logo.png" class="img-responsive logo">
                    </div>
                    <div class="col-md-6 col-xs-8 header-text">
                        <h1>Untucked Style</h1>
                        <p class="catch-phrase">For the Modern Minimalist</p>
                    </div>
                </div>
                <ul class="text-center list-inline untucked-header-list">
                    <li><div class="ink-container"><a href="#" class="ink-teal-gray">Basics</a></div></li>
                    <li><div class="ink-container"><a href="#" class="ink-teal-gray">Clothes</a></div></li>
                    <li><div class="ink-container"><a href="#" class="ink-teal-gray">Drinks</a></div></li>
                    <li><div class="ink-container"><a href="#" class="ink-teal-gray">Life</a></div></li>
                </ul>
            </div>
        </div>
    </nav>
</template>