<template name="navbar">
    <nav class="navbar upper-nav" role="navigation">
        <div class="container-fluid">
            <div class="row header-row">
                <a href="{{pathFor route='home'}}">
                    <div class="col-md-12 col-sm-12 col-xs-12 header-text">
<!--                        <h1>Untucked Style</h1>-->
                        <img src="/img/serif_logo.png" alt="Untucked Style" class="img-responsive" />
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <nav class="navbar shadow-2 locked-lower-nav" role="navigation">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="text-center list-inline untucked-header-list">
                    <li><a href="{{pathFor route='styleList'}}">Style</a></li>
                    <li><a href="{{pathFor route='ambitionList'}}">Ambition</a></li>
                    <li><a href="{{pathFor route='drinksList'}}">Drinks</a></li>
                    <li><a href="{{pathFor route='lifeList'}}">Life</a></li>
                    <li><a href="{{pathFor route='shop'}}" class="product-link">Shop</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>