<template name="postList">
    {{#each posts}}
        {{#if spotlight}}
            <div class="row hide-sm spotlight-post-row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {{> postSpotlight}}
                </div>
            </div>
        {{else}}
            <div class="row post-row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {{> postShort}}
                </div>
            </div>
        {{/if}}
    {{/each}}
</template>