<template name="post">
    <div class="post shadow-0 card-post-transition">
        <img src="{{image_url}}" class="header-img" />
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="title-row">
                    <h1>{{title}}</h1>
                    <p class="author-row">{{author}} - {{formatDate}}</p>
                    <div class="fb-like" data-href="{{currentUrl}}" data-share="false" data-width="350" data-show-faces="false"></div>
                </div>
                <div class="long-post-content" style="margin-top: 10px;">
                    <p>{{{content}}}</p>
                </div>
                <ul class="list-inline text-center" style="font-style: italic; font-size: .7em;">
                    {{#each tags}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{> facebookComments}}
    </div>
    <div class="related-articles">
        {{> relatedArticles}}
    </div>
</template>